@font-face {
  font-family: 'pixel';
  src: url('/assets/fonts/PixelCountdown-Yaj4.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.book {
  position: absolute; 
  bottom: -26%;
  right: -18%;
  scale: 0.3;
  /* background-color: #8A2E14; */
  transition: transform 0.3s ease;
}

.book:hover {
  transform: scale(0.9);
}

.book-enlarge {
  position: absolute; 
  bottom: 13%;
  right: 22%;
  scale: 1.5;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Safari and Chrome */
  /* background-color: #8A2E14; */
  transition: transform 0.3s ease;
}
