:root {
    --primary-color: #8A2E14;
    --secondary-color: #D2B48C;
    --accent-color: #3A3E59;
    --accent-shadow: #1d234b;
    --underline: #6f71798f;
  }

.DragDropQuiz {
    position: absolute;
    left: 10;
    right: 10;
    bottom: 10;
    top: 10;
    height: 90%;
    font-size: 8px;
    padding: 10px;
    border-radius: 10px;
    background: var(--secondary-color);
    font-family: 'pixel', sans-serif;
    color: var(--primary-color);
}

.quiz-title {
    font-size: 12;
    margin-bottom: -8;
}

.quiz-prompt {
    font-size: 10;
}

.quiz-instructions {
    font-size: 5;
    margin-bottom: 15;
}

.DragDropQuiz_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.draggable-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.draggable {
    background-color: white;
    color: var(--accent-color);
    /* border: 1px solid #ccc; */
    box-shadow: 1px 1px 1px gray;
    padding: 2px 2px;
    font-size: 8px;
    font-family: 'pixel', sans-serif;
    cursor: grab;
    border-radius: 3px;
    margin: 1px;
}

.draggable.dragging {
    cursor: grabbing; /* Change the cursor to show dragging */
    background-color: #f0f0f0; /* Change background color when dragging */
}

/* Optional: Styling for the draggable container */
.draggable {
    transition: all 0.3s ease;
}

.draggable[data-in-drop-zone="true"] {
    opacity: 0.6;
    cursor: not-allowed;
}

.sentence-builder {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-family: 'pixel', sans-serif;
}

.drop-zone {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid var(--underline);
    display: flex;
    /* justify-content: center; */
    padding: 10px;
    align-items: center;
    font-family: 'pixel', sans-serif;
    font-size: 8px;
    /* color: #fff; */
    /* background-color: #fafafa; */
    margin: 0 5px;
}

.TextMessage_button {
    margin: 0;
    font-size: px;
    padding: 0;
    background: none;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 2px;
    bottom: 0;
}

.submit-button {
    text-decoration: none;
    font-family: 'pixel', sans-serif;
    background-color: var(--accent-color);
    color: white;
    font-size: 0.4rem;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 30%;
    max-width: 300px
}


.submit-button:hover {
    background-color: #3A3E59;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.submit-button:active {
    transform: scale(0.95);
    box-shadow: none;
}

#submit-btn:hover {
    background-color: var(--accent-shadow); /* Darker blue on hover */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 0;
}
