* {
    box-sizing:border-box;
}

:root {
    --primary-color: #8A2E14;
    --secondary-color: #D2B48C;
    --accent-color: #3A3E59;
  }

body {
    background: #411D31;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 353px;
    height: 199px;
    margin: 0 auto;
    /* outline: 1px solid #fff; */
    background-color: #333;
    transform: scale(3.8) translateY(39%);
    /* border: none; */
}

.game-container canvas {
    image-rendering: pixelated;
}

.menu-button {
    text-decoration: none;
    font-family: 'pixel', sans-serif;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.4rem;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 300px
}

@font-face {
  font-family: 'pixel';
  src: url('/assets/fonts/PixelCountdown-Yaj4.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
    font-family: 'arabic';
    src: url('/assets/fonts/arabic/Arabic\ Pixel\ 2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }