.PauseMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 1px 15px;
  border-radius: 20px;
  text-align: center;
  height: 90%;
  width: 40%;
  z-index: 1000;
  font-family: 'pixel', sans-serif;
}

.PauseMenu h2 {
  font-size: 20px;
  margin-top: 20%;
  margin-bottom: 35%;
  padding: 0px 20px;
}

.PauseMenu .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'pixel', sans-serif;
}

.PauseMenu .option {
  text-decoration: none;
  font-family: 'pixel', sans-serif;
  background-color: #9B3E24;
  color: white;
  font-size: 8px;
  border: 1px solid #8A2E14;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 5px;
}

.PauseMenu .option:hover {
  background-color: #3A3E59;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.PauseMenu .option:active {
  transform: scale(0.95);
  box-shadow: none;
}
